{% extends 'PhSport/base.html' %}

{% block content %}
  <h1>Lista de pacientes</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Fecha de nacimiento</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>
      </tr>
    </thead>
    <tbody>
      {% for paciente in pacientes %}
        <tr>
          <td><a href="{% url 'detalle_paciente' pk=paciente.pk %}">{{ paciente.nombre }}</a></td>
          <td>{{ paciente.fecha_nacimiento }}</td>
          <td>{{ paciente.email }}</td>
          <td>{{ paciente.telefono }}</td>
          <td>{{ paciente.direccion }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No hay pacientes registrados.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
